In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from math import sqrt
import math
import os
import json
import time
import seaborn as sns
import datetime
from core.data_processor import DataLoader
from core.model import Model
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

Using TensorFlow backend.

In [ ]:
'''
till now judgement
date_time: convert to suitable format, doesnt go for prediction 
dayofweek: add new column signifying day(Monday=0, Sunday=6)
peakhours: 
is_holiday : change all non null to 1
wind_speed : to be standardized variable
wind_direction: categorical variable, better to put in 60 deg buckets 
visibility_in_miles: categorical
dew_point: categorical
temperature: replace 0 with mean value and standardize it
air_pollution_index : No change, just standardize it
humidity: standardize it
rain_p_h: have to think , for now just use as it is
snow_ph: 0 and 1
weather_type: label encode
weather_description: drop it
traffic_volume: to predict
'''

In [6]:
rawdata = pd.read_csv("./DataSets/Train.csv")
df_test = pd.read_csv("./DataSets/Test.csv")

In [7]:
rawdata.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [68]:
rawdata.date_time = pd.to_datetime(rawdata['date_time'])

In [ ]:
def preprocessing():
    df = rawdata.copy()
    #day of week, we have less traffic during saturdays or sundays
    df['dayofweek'] = rawdata.date_time.dt.dayofweek
    df['month'] = rawdata.date_time.dt.month
    #hours
    bins = [-0.1,6,12,18,24]
    labels = [0,1,2,3]
    df['hour']= pd.cut(rawdata['date_time'].dt.hour, bins=bins, labels=labels)
    #is_holiday
    df['is_holiday'] = (rawdata.is_holiday!='None')*1
    A = df.loc[df.is_holiday==1,'date_time']
    for items in A:
    df.loc[(df.date_time.dt.year==items.year) & (df.date_time.dt.month==items.month) & (df.date_time.dt.day==items.day),'is_holiday'] = 1
    #wind_direction
    bins = [-0.1, 60, 120, 180, 240, 300, 360]
    labels = [0,1,2,3,4,5]
    df['wind_direction']= pd.cut(rawdata['wind_direction'], bins=bins, labels=labels)
    #temperature
    df.loc[rawdata.temperature==0,'temperature'] = np.mean(rawdata.loc[rawdata.temperature!=0,'temperature'])
    #snow_p_h
    df['snow_p_h'] = (rawdata.snow_p_h!=0)*1
    #weather label encode
    #Encoding features
    lb_weather = LabelEncoder()
    df['weather_type'] = rawdata['weather_type'].apply(lb_weather.fit_transform)
    lb_weather_des = LabelEncoder()
    df['weather_description'] = rawdata['weather_description'].apply(lb_weather_des.fit_transform)
    #standardizing
    std_cols = ['temperature','air_pollution_index','humidity','wind_speed','clouds_all','traffic_volume']
    mean = rawdata[std_cols].mean()
    std = rawdata[std_cols].std()
    df[std_cols] = (rawdata[std_cols]-mean)/std
    return df,(lb_weather,lb_weather_des),(std_cols,mean,std)

In [54]:
df.is_holiday.unique()

array(['None', 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
       'Christmas Day', 'New Years Day', 'Washingtons Birthday',
       'Memorial Day', 'Independence Day', 'State Fair', 'Labor Day',
       'Martin Luther King Jr Day'], dtype=object)

In [71]:
df['is_holiday'] = (rawdata.is_holiday!='None')*1
col_to_look  = ['date_time','is_holiday']
A = df.loc[df.is_holiday==1,'date_time']

In [75]:
for items in A:
    df.loc[(df.date_time.dt.year==items.year) & (df.date_time.dt.month==items.month) & (df.date_time.dt.day==items.day),'is_holiday'] = 1

In [76]:
df.loc[df.is_holiday==1,'date_time']

126     2012-10-08 00:00:00
127     2012-10-08 01:00:00
128     2012-10-08 02:00:00
129     2012-10-08 03:00:00
130     2012-10-08 04:00:00
131     2012-10-08 05:00:00
132     2012-10-08 06:00:00
133     2012-10-08 07:00:00
134     2012-10-08 08:00:00
135     2012-10-08 09:00:00
136     2012-10-08 10:00:00
137     2012-10-08 11:00:00
138     2012-10-08 12:00:00
139     2012-10-08 13:00:00
140     2012-10-08 14:00:00
141     2012-10-08 15:00:00
142     2012-10-08 16:00:00
143     2012-10-08 17:00:00
144     2012-10-08 18:00:00
145     2012-10-08 19:00:00
146     2012-10-08 20:00:00
147     2012-10-08 21:00:00
148     2012-10-08 22:00:00
149     2012-10-08 23:00:00
1123    2012-11-12 00:00:00
1124    2012-11-12 01:00:00
1125    2012-11-12 02:00:00
1126    2012-11-12 03:00:00
1127    2012-11-12 04:00:00
1128    2012-11-12 05:00:00
                ...
30114   2017-01-16 21:00:00
30115   2017-01-16 22:00:00
30116   2017-01-16 22:00:00
30117   2017-01-16 22:00:00
30118   2017-01-16 23:00:00
30119   2017-01-16 23:00:00
31145   2017-02-20 00:00:00
31146   2017-02-20 01:00:00
31147   2017-02-20 02:00:00
31148   2017-02-20 03:00:00
31149   2017-02-20 04:00:00
31150   2017-02-20 05:00:00
31151   2017-02-20 06:00:00
31152   2017-02-20 07:00:00
31153   2017-02-20 08:00:00
31154   2017-02-20 09:00:00
31155   2017-02-20 10:00:00
31156   2017-02-20 11:00:00
31157   2017-02-20 12:00:00
31158   2017-02-20 13:00:00
31159   2017-02-20 14:00:00
31160   2017-02-20 15:00:00
31161   2017-02-20 16:00:00
31162   2017-02-20 17:00:00
31163   2017-02-20 18:00:00
31164   2017-02-20 19:00:00
31165   2017-02-20 20:00:00
31166   2017-02-20 21:00:00
31167   2017-02-20 22:00:00
31168   2017-02-20 23:00:00
Name: date_time, Length: 974, dtype: datetime64[ns]

In [40]:
bins = [-0.1, 60, 120, 180, 240, 300, 360]
labels = [0,1,2,3,4,5]
df['binned']= pd.cut(rawdata['wind_direction'], bins=bins, labels=labels)

In [47]:
rawdata.loc[rawdata.temperature==0,'temperature'] =

11898    0.0
11899    0.0
11900    0.0
11901    0.0
11946    0.0
11947    0.0
11948    0.0
11949    0.0
11950    0.0
11951    0.0
Name: temperature, dtype: float64

0         9
1        10
2        11
3        12
4        13
5        14
6        15
7        16
8        17
9        18
10       19
11       20
12       21
13       22
14       23
15        0
16        1
17        2
18        3
19        4
20        5
21        6
22        8
23        9
24       12
25       13
26       14
27       15
28       16
29       18
         ..
33720    10
33721    10
33722    11
33723    12
33724    12
33725    13
33726    13
33727    14
33728    15
33729    16
33730    16
33731    17
33732    17
33733    18
33734    18
33735    18
33736    18
33737    19
33738    19
33739    19
33740    20
33741    20
33742    20
33743    21
33744    21
33745    21
33746    22
33747    22
33748    23
33749    23
Name: date_time, Length: 33750, dtype: int64